
nav {
    background-size: cover;
    margin: 0;
    background: rgb(255,255,255);
background: linear-gradient(87deg, rgba(255,255,255,1) 0%, rgba(173,202,255,1) 29%, rgba(51,58,255,1) 61%, rgba(26,1,33,1) 100%);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    margin-right: 50px;
}

nav h1 {
    margin-right: 1170px;
    margin-top: 10px;
}

nav li {
    margin-right: 3rem;
    display: inline-block;

}

nav a {
    display: block;
    padding: 1rem;
    color: white;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(25, 13, 129);
    color: black;
}
.i1{
    width: 100px;
    margin-left: 50px;
}
body{
    margin: 0;
    background: rgb(85, 66, 194);
    background: linear-gradient(87deg, rgba(85, 66, 194, 1) 0%, rgba(116, 159, 237, 1) 37%, rgba(100, 104, 186, 1) 65%, rgba(85, 66, 194, 1) 100%);
}
.d1{
    margin-top: 150px;
    margin-left: 25%;
    padding: 40px;
    width: 50%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-blue-business-atmosphere-line-texture-banner-background-image_213341.jpg);
}
h1{
    color: white;
}
h2{
    color: white;
}
p{
    color: white;
}
.d2{
    margin-top: 40px;
    width: 50%;
    padding: 40px;
    margin-left: 25%;
    background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190823/pngtree-3d-blue-banner-abstract-glass-background-image_303785.jpg);
}
